/* responsive cards */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

/* card dimensions */
.card {
  width: 350px;
  height: 350px;
}

